# dependencies
node_modules/
client/node_modules/
server/node_modules/

# builds
dist/
build/
client/dist/
server/dist/

# environment files
.env
.env.*
client/.env
server/.env

# logs
*.log

# editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# coverage
coverage/

# cache
.cache/
.parcel-cache/
.eslintcache